In [3]:
import pandas as pd

In [4]:
business_results =pd.Series({'arroz':4200,
                  'lentejas':4800,
                  'milo':5400,
                  'galletas':2200,
                  'papas':1300,
                  'mantequilla' :2500,
                  'frijol':5000,
                  'carne' :7000,
                  'costilla': 1000,
                  'pasta':6800})
print(business_results)

arroz          4200
lentejas       4800
milo           5400
galletas       2200
papas          1300
mantequilla    2500
frijol         5000
carne          7000
costilla       1000
pasta          6800
dtype: int64

In [10]:
business_results_frame= pd.DataFrame({'enero':[2000,1000,1200,6899],
                  'febrero':[2300,1200,1300,8000],
                  'marzo':[2400,1600,1400,6700],
                  'abril':[1000,600,600,2400]},index=['arroz ','carne','frijol','milo'])
business_results_frame

        enero  febrero  marzo  abril
arroz    2000     2300   2400   1000
carne    1000     1200   1600    600
frijol   1200     1300   1400    600
milo     6899     8000   6700   2400

In [14]:
business_results_frame['abril']

arroz     1000
carne      600
frijol     600
milo      2400
Name: abril, dtype: int64

In [16]:
business_results_frame[['febrero','marzo']]

        febrero  marzo
arroz      2300   2400
carne      1200   1600
frijol     1300   1400
milo       8000   6700